
.footer {
    padding: 1rem;
    background-color: #000000;
    font-family: "Poppins", sans-serif;
    height: 20rem;
    a{
        color: #8490ff;
    }
    .fa{
        padding-right: 20px;
        padding-top: 10px;
        font-size: 2rem;
    }
    .fa:hover{
        text-decoration:none;
    }

    .fab{
        padding-right: 20px;
        padding-top: 10px;
        font-size: 2rem;
    }
    .fab:hover{
        text-decoration:none;
    }
}
.about-page-text {
    font-size: 1.2rem;
    color: #FFFFFF;
}

.copyright-text {
    font-size: 1rem;
    color: #777777;
}

.first-block{
    margin-left: 10%;
    margin-top: 5%;
    width: 40%;
    float: left;
    background-color: #000000;
}

.second-block{
    margin-top: 5%;
    width: 40%;
    float: right;
    background-color: #000000;
}