<footer class="footer">
  <div class="first-block">
    <span class="about-page-text">About This Page</span><br><br>
    <span class="copyright-text">This website was coded in HTML, CSS, and Javascript.</span><br>
    <span class="copyright-text">The source code can be found </span>
    <a href="https://github.com/iamvimals/Portfolio-Angular-master">here</a><br><br>
    <span class="copyright-text">Copyright &copy; 2021 All rights reserved</span>
  </div>&nbsp;
  <div class="second-block">
    <span class="about-page-text">Connect</span><br><br>
    <span class="copyright-text">Let's be social.</span><br>
    <a href="https://www.facebook.com/vimal.shetty.15/" class="fa fa-facebook"></a>
    <a href="https://twitter.com/iamvimals" class="fa fa-twitter"></a>
    <a href="mailto:vimalshetty1502@gmail.com" class="fa fa-google"></a>
    <a href="https://www.linkedin.com/in/iamvimals/" class="fa fa-linkedin"></a>
    <a href="https://www.instagram.com/iamvimals/" class="fa fa-instagram"></a>
    <a href="https://github.com/iamvimals/" class="fab fa-github"></a>
  </div>
</footer>
