<body>
  <app-header></app-header>
  <main>
    <div class="title-box">
      <a href="#" id="previous-title">Home</a><br>
      <span id="about-title">About</span>
    </div>
    <div class="border-text">
      <p id="bio-text">
        At the beginning of 2018, I didn't know where my life was going. After some serious self-reflection about my passions and interests, I committed to learning everything I could about machine learning, data science, and the tech industry.
        In April I started working fulltime at Capital One as a data process manager. Here I use my technical knowledge to automate a few of the tedious business processes that always lurk in large organizations. My intention is to help my colleagues by removing the repetitive tasks that eat away at our attention each workday.
      </p>
    </div>
    <hr>
    <section class="timeline">
      <div class="container">

        <div class="timeline-item">
          <div class="timeline-img"></div>
          <div class="timeline-content js--fadeInLeft">
            <h4>Bachelors in Computer Science</h4>
            <p>CMR Institute of Technology</p>
            <p class="gray-font">CGPA: 8.09 (On a scale of 10)</p>
          </div>
        </div> 
    
        <div class="timeline-item">
          <div class="timeline-img"></div>
          <div class="timeline-content js--fadeInLeft">
            <h4>Internship</h4>
            <p>Simeio Solutions</p>
            <p class="gray-font">January 2019 - May 2019</p>
          </div>
        </div>   
    
        <div class="timeline-item">
          <div class="timeline-img"></div>
          <div class="timeline-content js--fadeInLeft">
            <h4>Software Engineer</h4>
            <p>Manhattan Associates</p>
            <p class="gray-font">August 2019 - May 2021</p>
          </div>
        </div>  

        <div class="timeline-item">
          <div class="timeline-img"></div>
          <div class="timeline-content js--fadeInLeft">
            <h4>Masters in Data Analytics</h4>
            <p>National University of Ireland Galway</p>
            <p class="gray-font">September 2021 - August 2022</p>
          </div>
        </div>    
      </div>
    </section>
    
  </main>
  <app-footer></app-footer>
</body>

