#projects-button{
    border: 2px solid #000000;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 1rem;
}

.top-div {
    margin-top: 14rem;
}

.areas-header{
    text-align: center;
    h2{
        margin-top: 5rem;
    }
}

.areas-content{
    margin-top: 4rem;
}

.gray-font{
    color: #777777;
}

.box{
    background-color: #FFFFFF;
    display: table-cell;
    border-radius:5px;
    width: 25%;
    padding: 10px;
    span{
        text-align: center;
    }
}
.text{
    color: #000000;
    font-weight:bold;
    text-align:center;
    padding: 10px;
}

.text:hover{
    color: #8490ff;
}

.wrapper {
    display: table;
    width: 100%;
}

.middle {
    display: table-cell;
    width: 5%;
}

.fa-chart-bar {
    margin-left: 10.5rem;
    font-size: 2rem;
}

.fa-chart-pie {
    margin-left: 10.5rem;
    font-size: 2rem;
}

.fa-robot {
    margin-left: 10.5rem;
    font-size: 2rem;
}

.fa-graduation-cap {
    margin-left: 10.5rem;
    font-size: 2rem;
}

.fa-database {
    margin-left: 10.5rem;
    font-size: 2rem;
}

.fa-chart-bar:hover {
    color: #8490ff;
}

.fa-chart-pie:hover {
    color: #8490ff;
}

.fa-robot:hover {
    color: #8490ff;
}

.fa-graduation-cap:hover {
    color: #8490ff;
}

.fa-database:hover {
    color: #8490ff;
}

.progress {
    margin-top: 10px;
    width:90%;
    height:20px;
    overflow:hidden;
    background:#e5e5e5;
    border-radius:6px;
  }
  
  .bar {
    position:relative;
    float:left;
    min-width:1%;
    height:100%;
    background: #8490ff;
  }
  
  .percent {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin:0;
    font-family:tahoma,arial,helvetica;
    font-size:12px;
    color:white;
  }



.downArrow{
	position: absolute;
	bottom: 2%;
	left: 50%;
}
.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
/* Demo Purpose Only*/
.demo {
  font-family: 'Raleway', sans-serif;
	color:#fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}
.demo a{
  font-family: 'Raleway', sans-serif;
color: #2ecc71;		
}