<body>
  <app-header></app-header>
  <main>
    <div class="top-div">
      <h5>I am</h5>
      <h2>{{name}}</h2><br>
      <p>{{tagLine}}</p> 
      <button id="portfolio-button" mat-flat-button routerLink="/portfolio">{{portfolioText}}</button>
    </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    
    <div class="downArrow bounce">
      <img width="40" height="40" alt="" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMyIDMyIiBoZWlnaHQ9IjMycHgiIGlkPSLQodC70L7QuV8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik0yNC4yODUsMTEuMjg0TDE2LDE5LjU3MWwtOC4yODUtOC4yODhjLTAuMzk1LTAuMzk1LTEuMDM0LTAuMzk1LTEuNDI5LDAgIGMtMC4zOTQsMC4zOTUtMC4zOTQsMS4wMzUsMCwxLjQzbDguOTk5LDkuMDAybDAsMGwwLDBjMC4zOTQsMC4zOTUsMS4wMzQsMC4zOTUsMS40MjgsMGw4Ljk5OS05LjAwMiAgYzAuMzk0LTAuMzk1LDAuMzk0LTEuMDM2LDAtMS40MzFDMjUuMzE5LDEwLjg4OSwyNC42NzksMTAuODg5LDI0LjI4NSwxMS4yODR6IiBmaWxsPSIjMTIxMzEzIiBpZD0iRXhwYW5kX01vcmUiLz48Zy8+PGcvPjxnLz48Zy8+PGcvPjxnLz48L3N2Zz4=" />
    </div>
    <hr>
    <div class="areas-section">
      <div class="areas-header">
        <h2><b>Areas of Interest</b></h2><br>
        <span class="gray-font">Take a look at some of the things I love working on.</span>
      </div>
      <div class="areas-content">
        <div class="wrapper">
          <div class="box">
            <i class="far fa-chart-bar"></i>
            <div class="text">Data Analytics</div>
            <span class="gray-font">Data Analytics is all about analyzing raw data to reap meaningful insights. Sounds awesome to me.</span>
          </div>
          <div class="middle"></div>
          <div class="box">
            <i class="fas fa-robot"></i>
            <div class="text">Machine Learning</div>
            <span class="gray-font">Machine learning is more than an API call to scikit-learn. I love the math and theory as well as the implementation.</span>
          </div>
          <div class="middle"></div>
          <div class="box">
            <i class="fas fa-chart-pie"></i>
            <div class="text">Data Visualization</div>
            <span class="gray-font">I love telling a story. Making a beautiful and compelling presentation is one of my favorite skills.</span>
          </div>
        </div>
        <br>
        <div class="wrapper">
          <div class="box">
            <i class="fas fa-database"></i>
            <div class="text">Data Mining</div>
            <span class="gray-font">You can't keep adjusting the data to prove that you would be the best Valentine's date for Scarlett Johansson.</span>
          </div>
          <div class="middle"></div>
          <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <div class="text">Business Intelligence</div>
            <span class="gray-font">Intelligent data insights empower the end users to be a lot closer to the results of the business.</span>
          </div>
          <div class="middle"></div>
          <div class="box">
            <i class="fas fa-chart-line"></i>
            <div class="text">Business Intelligence</div>
            <span class="gray-font">Machine learning is more than an API call to scikit-learn. I love the math and theory as well as the implementation.</span>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="areas-section">
      <div class="areas-header">
        <h2><b>Skills Expertise</b></h2><br>
        <span class="gray-font">1 - Basic 2 - Novice 3 - Intermediate</span><br>
        <span class="gray-font">4 - Advanced 5 - Expert</span>
      </div>
      <div class="areas-content">
        <div class="wrapper">
          <div class="box">
            <i class="far fa-chart-bar"></i>
            <div class="text">Data Analytics</div>
            <span class="gray-font">Statistics </span>
            <span class="gray-font">- 1</span><br>
            <div class="progress">
	            <div class="bar" style="width:20%"></div>
            </div>
            <br>

            <span class="gray-font">Python </span>
            <span class="gray-font">- 5</span><br>
            <div class="progress">
	            <div class="bar" style="width:100%"></div>
            </div>
            <br>

            <span class="gray-font">R </span>
            <span class="gray-font">- 1</span><br>
            <div class="progress">
	            <div class="bar" style="width:100%"></div>
            </div>
            <br>

            <span class="gray-font">SQL </span>
            <span class="gray-font">- 3</span><br>
            <div class="progress">
	            <div class="bar" style="width:50%"></div>
            </div>
            <br>

          </div>
          <div class="middle"></div>
          <div class="box">
            <i class="fas fa-chart-pie"></i>
            <div class="text">Data Visualization</div>
            <span class="gray-font">Matplotlib </span>
            <span class="gray-font">- 1</span><br>
            <div class="progress">
	            <div class="bar" style="width:100%"></div>
            </div>
            <br>

            <span class="gray-font">Seaborn </span>
            <span class="gray-font">- 1</span><br>
            <div class="progress">
	            <div class="bar" style="width:100%"></div>
            </div>
            <br>

            <span class="gray-font">Tableau </span>
            <span class="gray-font">- 1</span><br>
            <div class="progress">
	            <div class="bar" style="width:100%"></div>
            </div>
            <br>

            <span class="gray-font">D3.js </span>
            <span class="gray-font">- 1</span><br>
            <div class="progress">
	            <div class="bar" style="width:100%"></div>
            </div>
            <br>

          </div>
          <div class="middle"></div>
          <div class="box">
            <i class="fas fa-robot"></i>
            <div class="text">Machine Learning</div>
            <span class="gray-font">Scikit-Learn </span>
            <span class="gray-font">- 1</span><br>
            <div class="progress">
	            <div class="bar" style="width:100%"></div>
            </div>
            <br>

            <span class="gray-font">TensorFlow </span>
            <span class="gray-font">- 1</span><br>
            <div class="progress">
	            <div class="bar" style="width:100%"></div>
            </div>
            <br>

          </div>
        </div>
        <br>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</body>
