.title-box, .title-box:before {
  border-bottom: 2px solid #000000;
  width: 3rem;
  transition: width 1s;
}
.title-box:hover {
  border-bottom: 2px solid #000000;
  width: 11rem;
}
#resume-title{
  font-size: 3rem;
}
a{
  color: #000000;
}
a:hover{
  text-decoration: none;
}

.btn-preview{
  margin-top: 1rem;
  background-color: #8490ff;
  color: #FFFFFF;
}

.btn-preview:hover{
  cursor: pointer;
  opacity: 0.7;
}